.paging * {
    box-sizing:border-box;
}

.paging {
    text-align:center;
    margin:2% 0 0;
}

.paging > p {
    display:inline-block;
    margin:0 4px;
}

.paging > p > a, .paging > p > span {
    margin-left:-1px;
}

.paging > p > a:first-child, .paging > p > span:first-child {
    margin-left:0;
}

.paging a, .paging span {
    display:inline-block;
    width:30px;
    height:30px;
    line-height:240%;
    color:#999;
    font-size:12px;
}

.paging a:hover {
    background:#f7f7f7;

}
.paging a.on, .paging span.on {
    background:#666;
    border-color:transparent;
    border-radius:4px;
    color:#fff;
}

.paging .page_bt {
    text-indent:-9999px;
    position:relative;
}

.paging .page_bt::after {
    background-position:-30px 0;
    width:6px;
    height:11px;
    position:absolute;
    top:50%;
    left:50%;
    margin:-5px 0 0 -3px;
}

.paging .first::after {
    background-position:-15px 0;
    width:12px;
    margin-left:-6px;
}

.paging .next::after {
    background-position:-40px 0;
}

.paging .last::after {
    background-position:-49px 0;
    width:12px; margin-left:-6px;
}

.paging .prev, .paging .last {
    margin-left:-1px;
}