<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/location/list.css" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
    <th:block th:replace="fragments/header :: head"></th:block>
    <th:block th:replace="fragments/footer :: head"></th:block>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<div>
    <div class="slider">
        <div><img class="img_size" src="/images/location/list/slider/slide1.png" alt=""></div>
        <div><img class="img_size" src="/images/location/list/slider/slide2.png" alt=""></div>
        <div><img class="img_size" src="/images/location/list/slider/slide3.png" alt=""></div>
        <div><img class="img_size" src="/images/location/list/slider/slide4.png" alt=""></div>
        <div><img class="img_size" src="/images/location/list/slider/slide_sub1.jpg" alt=""></div>
    </div>
</div>
<div id="location-list-container">
    <div class="region-container">
        <div class="region" data-location-code="L001">
            <div class="circle" style="background-image: url('/images/location/list/banner/seoul1.jpeg');"></div>
            <div class="label">서울</div>
        </div>
        <div class="region" data-location-code="L002">
            <div class="circle" style="background-image: url('/images/location/list/banner/gyeong-gi-do1.jpeg');"></div>
            <div class="label">경기도</div>
        </div>
        <div class="region" data-location-code="L003">
            <div class="circle" style="background-image: url('/images/location/list/banner/incheon1.jpeg');"></div>
            <div class="label">인천</div>
        </div>
        <div class="region" data-location-code="L004">
            <div class="circle" style="background-image: url('/images/location/list/banner/Chungcheong-do1.jpeg');"></div>
            <div class="label">충청도</div>
        </div>
        <div class="region" data-location-code="L005">
            <div class="circle" style="background-image: url('/images/location/list/banner/Gangwon-do1.jpeg');"></div>
            <div class="label">강원도</div>
        </div>
        <div class="region" data-location-code="L006">
            <div class="circle" style="background-image: url('/images/location/list/banner/Jeolla-do1.jpeg');"></div>
            <div class="label">전라도</div>
        </div>
        <div class="region" data-location-code="L007">
            <div class="circle" style="background-image: url('/images/location/list/banner/Gyeongsang-do1.jpeg');"></div>
            <div class="label">경상도</div>
        </div>
        <div class="region" data-location-code="L008">
            <div class="circle" style="background-image: url('/images/location/list/banner/Jeju-do1.jpeg');"></div>
            <div class="label">제주도</div>
        </div>
    </div>
</div>
<div class="rank-background">
    <div class="rank-outer-div">
        <div th:text="|${currentLocationName} 여행지 TOP 3|" class="title">여행지 TOP 3</div>
        <div class="rank-container">
            <div th:each="rankLocation,num : ${locationRanking}" th:class="'rank-card ' + (${num.count == 1} ? 'center' : '')">
                <div  th:text="${num.count}" class="ranking"></div>
                <img th:src="@{${rankLocation.profileUrl}}" th:alt="${rankLocation.title}">
                <div class="rank-content">
                    <h2 th:text="${rankLocation.title}">제목</h2>
                    <div class="rank-content-inner">
                        <p th:text="${rankLocation.address}">지역 설명 </p>
                        <div class="rank-content-inner">
                            <i class="fas fa-heart" style="color: red; margin-right: 10px"></i>
                            <p th:text="${rankLocation.likeCount}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div id="location-contents-container">
        <div class="search-container">
            <div th:text="|${currentLocationName} 추천 여행지|" class="title">OO 추천 여행지</div>
            <div class="search-filter-div">
                <div class="search-bar">
                    <input id="keyword" th:value="${params.keyword}" type="text" placeholder="무엇을 찾으시나요?" />
                    <button type="submit" onclick="movePage(1);">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">최신순 <i class="fas fa-caret-down"></i></button>
                    <div class="dropdown-content">
                        <div class="sort-option" data-sort="latest"  th:classappend="${params.sort == 'latest'} ? 'selected' : ''">최신순</div>
                        <div class="sort-option" data-sort="views"  th:classappend="${params.sort == 'views'} ? 'selected' : ''">조회순</div>
                        <div class="sort-option" data-sort="likes"  th:classappend="${params.sort == 'likes'} ? 'selected' : ''">좋아요순</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div th:each="location : ${locationPosts.list}" class="card">
                <img th:src="@{${location.profileUrl}}" th:alt="${location.title}">
                <div class="card-content">
                    <h3 th:text="${location.title}"></h3>
                    <p th:text="${location.address}"></p>
                </div>
            </div>
        </div>
        <div class="paging">

        </div>
    </div>
</div>
<script  th:inline="javascript">
    //ThymeLeaf Value Settings

    /*<![CDATA[*/
    const list = [[ ${locationPosts.list} ]];
    const pagination = [[ ${locationPosts.pagination} ]];
    const params = [[ ${params} ]];
    let num = pagination.totalRecordCount - ((params.page - 1) * params.recordSize);
    /*]]>*/
</script>
<script type="text/javascript" src="/js/location/list.js"></script>
</body>
</html>