<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.back.travelit.mapper.product.ReservationMapper">

    <!-- 예약정보 조회 -->
    <select id="findAllRes" resultType="com.back.travelit.dto.response.product.ReservationResponse">
        SELECT R.RES_ID, R.RES_NAME, R.RES_PHONE, R.RES_DATE, R.USE_DATE, R.RES_STATE, R.RES_NUM, R.RES_REQUEST, R.PAYMENT,
               P.PRO_PRICE, U.USER_ID, P.PRO_NAME, PI.PRO_IMG_NAME
        FROM RESERVATION R
                 INNER JOIN USER U ON R.USER_ID = U.USER_ID
                 INNER JOIN PRODUCT P ON R.PRO_ID = P.PRO_ID
                 LEFT JOIN PRODUCT_IMG PI ON P.PRO_ID = PI.PRO_ID AND PI.PRO_IMG_ID = (
            SELECT MIN(PRO_IMG_ID)
            FROM PRODUCT_IMG
            WHERE PRO_ID = P.PRO_ID
        )
        WHERE U.USER_ID = #{USER_ID}
        ORDER BY R.RES_ID DESC;

    </select>

    <!-- 예약 정보 상세 조회 -->
    <select id="findByResId" parameterType="int" resultType="com.back.travelit.dto.response.product.ReservationResponse">
        SELECT R.RES_ID, R.RES_NAME, R.RES_PHONE, R.RES_DATE, R.USE_DATE, R.RES_STATE, R.RES_NUM, R.RES_REQUEST, R.PAYMENT, P.PRO_PRICE, U.USER_ID, P.PRO_NAME
        FROM RESERVATION R
        INNER JOIN USER U
        ON R.USER_ID = U.USER_ID
        INNER JOIN PRODUCT P
        ON R.PRO_ID = P.PRO_ID
        WHERE R.RES_ID = #{value};
    </select>

    <!-- 예약정보 입력 -->
    <insert id="saveRes" parameterType="com.back.travelit.dto.request.product.ReservationRequest" useGeneratedKeys="true" keyProperty="RES_ID">
        INSERT INTO RESERVATION (RES_ID, USER_ID, PRO_ID, RES_NAME, RES_PHONE, RES_DATE, USE_DATE, RES_STATE, RES_NUM, RES_REQUEST, PAYMENT)
        VALUES (#{RES_ID}, #{USER_ID}, #{PRO_ID}, #{RES_NAME}, #{RES_PHONE}, DEFAULT, #{USE_DATE}, DEFAULT, #{RES_NUM}, #{RES_REQUEST}, #{PAYMENT})
    </insert>

    <!-- 예약정보 삭제 -->
    <delete id="deleteByResId" parameterType="int">
        DELETE
        FROM RESERVATION
        WHERE RES_ID = #{RES_ID}
        AND USER_ID = #{USER_ID}
    </delete>

    <!-- 조회순 5개 상품 조회 -->
    <select id="findByRand" resultType="com.back.travelit.dto.response.product.ReservationResponse">
        SELECT P.PRO_ID, P.USER_ID, P.PRO_NAME, P.PRO_CATEGORY_TOTAL, P.PRO_CATEGORY_DETAIL, P.PRO_CONTENT, P.PRO_RES, P.PRO_PRICE, P.PRO_PER_MAX,
               P.PRO_DATE, P.PRO_LOCATION, P.PRO_VIEW, P.TOUR_DATE, P.TOUR_TIME, P.TOUR_START, P.TOUR_END, PI.PRO_IMG_NAME
        FROM PRODUCT P
                 INNER JOIN (
            SELECT PI.PRO_ID, MIN(PI.PRO_IMG_ID) AS MIN_PRO_IMG_ID
            FROM PRODUCT_IMG PI
            GROUP BY PI.PRO_ID
        ) MIN_IMG ON P.PRO_ID = MIN_IMG.PRO_ID
                 INNER JOIN PRODUCT_IMG PI ON MIN_IMG.MIN_PRO_IMG_ID = PI.PRO_IMG_ID
        ORDER BY RAND()
        LIMIT 3
    </select>

</mapper>