<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.back.travelit.mapper.planner.PlanMapper">

    <!-- 유저 플래너 기본 정보 생성 (유저아이디,시작일,종료일,플래너 제목) -->
    <insert id="insertMakePlan" parameterType="com.back.travelit.dto.request.planner.PlanCreateReq">
        insert into PLAN(USER_ID, PL_STR_DATE, PL_END_DATE, PL_TITLE)
            values (2,#{startDate},#{endDate},#{title})
        <selectKey keyProperty="planId" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <!-- 유저 플래너 여행지역 생성 (지역 코드) -->
    <insert id="insertMakePlanLoc" parameterType="map">
        insert into PLAN_LOC(PLAN_ID, LOCATION_CODE)
            values
        <foreach item="locCode" collection="locCodes" separator=",">
               (#{planId},#{locCode})
        </foreach>
    </insert>

    <!-- 지역 코드로 지역명 값 조회 for 플래너 여행지역 -->
    <select id="selectAllLocName" parameterType="java.util.List" resultType="com.back.travelit.dto.response.planner.PlanLocCodeRes">
        select LOCATION_CODE AS locCode, LOCATION_NAME AS locName
        from LOCATION_CODE
        where LOCATION_CODE in (
        <foreach item="locCode" collection="locCodes" separator=",">
            #{locCode}
        </foreach>
        )
    </select>

    <!-- 유저 스케줄 여행 일차 생성 -->
    <insert id="insertMakeSched" parameterType="com.back.travelit.dto.request.planner.ScheduleCreateReq">
        insert into SCHED (PLAN_ID, PL_DAY)
        values (#{planId},#{planDay})
        <selectKey keyProperty="schedId" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <!-- 유저 스케줄 일정 생성 -->
    <insert id="insertMakeSchedLocInfo" parameterType="java.util.List">
        insert into SCHED_INFO (SCHED_ID, LOCATION_INFO_ID)
        <foreach item="locInfoId" collection="locInfoIds" separator=",">
            (#{schedId},#{locInfoId})
        </foreach>
    </insert>

    <!-- 플래너 상세 일정 수정 -->
    <!-- 일정 삭제 -->
    <delete id="deleteSched" parameterType="int">
        delete from SCHED
            where PLAN_ID = #{planId};
    </delete>

    <!-- 새로운 일차 생성 -->
    <insert id="insertReschedule" parameterType="com.back.travelit.dto.request.planner.ScheduleReplaceReq">
        insert into SCHED (PLAN_ID, PL_DAY)
        values (#{planId},#{planDay})
        <selectKey keyProperty="schedId" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <!-- 새로운 일정 생성 -->
    <insert id="insertRescheduleLocInfo" parameterType="com.back.travelit.dto.request.planner.ScheduleReplaceReq">
        insert into SCHED_INFO (SCHED_ID, LOCATION_INFO_ID)
        <foreach item="locInfoId" collection="locInfoIds" separator=",">
            (#{schedId},#{locInfoId})
        </foreach>
    </insert>

    <!-- 플래너 삭제 -->
    <delete id="deletePlan" parameterType="int">
        delete from PLAN
            where PLAN_ID = #{planId};
    </delete>

</mapper>