<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: head"></th:block>
    <th:block th:replace="fragments/footer :: head"></th:block>
    <meta charset="UTF-8">
    <title>Planner Second Step</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/planner/plan-second.css">
</head>
<body>
    <header th:replace="fragments/header :: header"></header>
    <form  onsubmit="return false;" class="submit">
        <div class="container">
            <div class="plan-second-wrap">
                <div class="left-wrap">
                    <div class="top-wrap">
                        <div class="top-left-wrap">
                            <div class="top-title">
                                <h2>제목</h2>
                                <div class="top-data" th:text="${createReqDTO.getTitle()}"/>
                            </div>
                            <div class="top-date">
                                <h2>일정</h2>
                                <div class="top-data" th:text="${createReqDTO.getStartDate()}"/>
                                <div class="top-data" th:text="' - ' + ${createReqDTO.getEndDate()}"/>
                            </div>
                        </div>
                        <div class="top-location">
                            <h2>여행지</h2>
                            <div class="top-data">
                                <span th:each="state : ${states}">
                                    <span th:text="${state.getLocName()}"></span>
                                </span>
                            </div>
                        </div>
                        <input id="current-planId" type="hidden" th:value="${createReqDTO.getPlanId()}"/>
                    </div>
                    <div class="content">
                        <div class="schedule">
                            <h2>일정표</h2>
                            <div class="schedule-list-card" id="schedule-list-card">
                                <div th:each="date, iterStat : ${dates}">
                                    <div class="day-card" th:attr="data-day-index=${iterStat.index + 1}">
                                        <div th:text="'Day '+${iterStat.index + 1}"></div>
                                        <div class="day-content"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="my-list">
                            <h2>나의 찜 리스트</h2>
                            <div class="details">
                                <div th:each="mark : ${allMarks}">
                                    <div class="mark-list-card">
                                        <div class="mark-card-text-container">
                                            <div class="medium" th:text="${mark.locTitle}"></div>
                                            <div class="small" th:text="${mark.locAddress}"></div>
                                            <input type="hidden" th:value="${mark.locInfoId}"/>
                                        </div>
                                        <div class="mark-card-button-container">
                                            <button type="button" class="add-btn">+</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-wrap">
                    <div class="search-bar">
                        <input type="text" name="keyword" class="keyword"/>
                        <input type="button" id="search" value="검색"/>
                    </div>
                    <div id="location-search-div" class="details">
                        <div th:each="location : ${allLocations}">
                            <div class="location-list-card">
                                <div class="location-card-text-container">
                                    <div class="medium" th:text="${location.locTitle}"></div>
                                    <div class="small" th:text="${location.locAddress}"></div>
                                    <input type="hidden" th:value="${location.locInfoId}"/>
                                </div>
                                <div class="location-card-button-container">
                                    <button type="button" class="add-btn">+</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="button" id="generate-btn" class="generate-btn">일정 생성</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <footer th:replace="fragments/footer :: footer"></footer>

    <script type="text/javascript" src="/js/planner/plan-second-day.js"></script>
</body>
</html>
