<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: head"></th:block>
    <th:block th:replace="fragments/footer :: head"></th:block>
    <meta charset="UTF-8">
    <title>Planner</title>
    <link rel="stylesheet" type="text/css" href="/css/planner/plan-first.css">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
</head>
<body>
    <header th:replace="fragments/header :: header"></header>
    <div class="plan-first-display">
        <div class="plan-first-wrapper">
            <div id="calendar"></div>
        </div>
    </div>
    <footer th:replace="fragments/footer :: footer"></footer>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var startDate; // 선택한 시작일을 저장하는 변수
            var endDate; // 선택한 종료일을 저장하는 변수

            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                selectable: true,
                dateClick: function(info) {
                    alert('clicked ' + info.dateStr);
                },
                select: function(info) {
                    startDate = info.startStr;
                    endDate = info.end.toISOString().split('T')[0];
                    console.log(startDate);
                    console.log(endDate);

                    // 기존 선택 영역 제거
                    var selectedElements = document.querySelectorAll('.selected-range');
                    selectedElements.forEach(function(element) {
                        element.classList.remove('selected-range');
                    });

                    // 선택한 영역 강조
                    var currentDate = new Date(startDate);

                    while (currentDate <= endDate) {
                        var formattedDate = currentDate.toISOString().split('T')[0];
                        var dayEl = calendarEl.querySelector(`[data-date="${formattedDate}"]`);
                        if (dayEl) {
                            dayEl.classList.add('selected-range');
                        }
                        currentDate.setDate(currentDate.getDate() + 1);
                    }
                }
            });
            calendar.render();
        });
    </script>
</body>
</html>