<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: head"></th:block>
    <th:block th:replace="fragments/footer :: head"></th:block>
    <meta charset="UTF-8">
    <title>Planner</title>
    <link rel="stylesheet" type="text/css" href="/css/planner/plan-first.css">
</head>
<body>
    <header th:replace="fragments/header :: header"></header>
    <form action="#">
        <div class="plan-first-display">
            <div class="plan-first-wrapper">
                <div id="calendar"></div>
                <div>
                    <label for="title">여행 제목</label>
                    <input type="text" id="title" name="title" required>
                </div>
                <div>
                    <h1>여행 지역 선택</h1>
                    <div id="regions-container"></div>
                </div>
            </div>
        </div>
    </form>
    <footer th:replace="fragments/footer :: footer"></footer>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
    <script src="/js/planner/plan-first-calender.js"></script>
</body>
</html>