<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: head"></th:block>
    <th:block th:replace="fragments/footer :: head"></th:block>
    <meta charset="UTF-8">
    <title>Planner 상세보기</title>
    <link rel="stylesheet" type="text/css" href="/css/planner/plan-second.css">
</head>
<body>
<header th:replace="fragments/header :: header"></header>

<footer th:replace="fragments/footer :: footer"></footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
</body>
</html>