html, body {
    margin: 0px;
    padding: 0px;
}

input[readonly] {
    background-color: white; /* 배경색을 투명으로 설정 */
    color: inherit; /* 글자 색상을 상속받도록 설정 */
}

.form-control[readonly] {
    background-color: white; /* 배경색을 투명으로 설정 */
    color: inherit; /* 글자 색상을 상속받도록 설정 */
}

body {
    overflow-x: hidden;
}

.field-error-div {
    width: 100%;
}

.field-error {
    border-color: #dc3545;
    color: #dc3545;
    margin-top: 5px;
}

#location-write-header {
    display: flex;
    justify-content: center;
    margin: 3vh 0px;
}

#location-write-container {
    margin: 0px 25vw;
}

.form-group {
    display: flex;
    align-items: center;
}
.form-group label {
    width: 100px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
}
.btn-group {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#description {
    resize: none;
}

#address-and-map {
    width: 100%;
}

#address-div {
    display: flex;
    width: 100%;
}

#addr {
    width: 100%;
}

#address-button {
    margin-left: 3%;
    width: 12%;
    background: #1E1E1E;
    border: none;
    color: white;
    height: 40px;
    width: 80px;
    font-size: 15px;
    font-weight: 700;
    outline: none;
    cursor: pointer;
}

#map {
    width: 100%;
    height: 500px;
    margin-top: 20px;
}

.map_wrap {position:relative;width:100%;height:350px;}
.title {font-weight:bold;display:block;}
.hAddr {position:absolute;left:10px;top:10px;border-radius: 2px;background:#fff;background:rgba(255,255,255,0.8);z-index:1;padding:5px;}
#centerAddr {display:block;margin-top:2px;font-weight: normal;}
.bAddr {padding:5px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}

#additional-info-container {
    width: 100%;
}

.sub-info-border {
    width: 100%;
    border: 1px solid #ced4da;
    padding: 20px 10px;
}

#add-info-btn-div {
    width: 100%;
    display: flex;
    justify-content: center;
}

#add-info-btn {
    background: #726ddd;
    border: none;
    color: white;
    height: 40px;
    width: 20%;
    font-size: 25px;
    font-weight: 700;
    outline: none;
    cursor: pointer;
}

.width-100-percent {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sub-info-key-div {
    display: flex;
    height: 35px;
    width: 30%;
}

.sub-info-key-div > input {
    width: 90%;
}

.sub-info-value-div {
    display: flex;
    align-items: center;
    width: 60%;
}

.sub-info-value-div > textarea {
    resize: none;
    width: 100%;
}

.remove-info-btn {
    border-radius: 25px;
    background: #FF5100;
    border: none;
    color: white;
    height: 40px;
    width: 61px;
    font-size: 15px;
    font-weight: 700;
    outline:none;
    cursor: pointer;
    margin-left: 10px;
}

#add-file-btn {
    border-radius: 25px;
    background: #726ddd;
    border: none;
    color: white;
    height: 40px;
    width: 80px;
    font-size: 15px;
    font-weight: 700;
    outline:none;
    cursor: pointer;
}

.remove-file-btn {
    border-radius: 25px;
    background: #FF5100;
    border: none;
    color: white;
    height: 40px;
    width: 80px;
    font-size: 15px;
    font-weight: 700;
    outline:none;
    cursor: pointer;
}

.remove-file-btn:focus {
    border: none;
    outline: none;
}

