html,
body {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
}

h2 {
  margin:unset;
  text-align: center;
}

.plan-second-display {
  width: 100vw;
  height: 780px;
  padding: 20px;
}

.plan-second-wrap {
  height: 740px;
  margin: 3vh 15vw 6vh 15vw;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 15px;
  display: flex;
}

.left-wrap {
  width:70%;
}

.top-wrap {
  width:100%;
  height:60px;
  font-size: small;
  font-weight: bold;
}
.top-left-wrap {
  display: flex;
  flex-direction: row;

}

.top-title, .top-date, .top-location {
  display: flex;
  gap:10px;
  width:50%;
  height:20px;
}

.top-location {
  width:100%;
  margin-top:10px;
}

.top-data {
  font-size: 18px;
  font-weight: normal;
}

.top-left-wrap h2, .top-location h2 {
  margin:unset;
}

.right-wrap {
  margin-left: 20px;
  width:30%;
}

.search-bar {
  display: flex;
  gap: 10px;
  padding-bottom: 20px;
  width: 100%;
}

.search-bar input[type="text"] {
  padding: 10px;
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.content{
  display: flex;
  gap: 20px;
  height: 680px;
}

.schedule {
  overflow: auto;
}

.schedule::-webkit-scrollbar{
  width:8px;
}

.schedule::-webkit-scrollbar-track{
  background-color: rgba(255, 81, 0, 0.05);
}

.schedule::-webkit-scrollbar-thumb{
  background-color: rgba(255, 81, 0, 0.2);
}

.schedule::-webkit-scrollbar-button{
  display: none;
}

.schedule::-webkit-scrollbar-track,
.schedule::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

.schedule, .my-list{
  border: 1px solid #ccc;
  border-radius: 15px;
  width:50%;
  padding:20px;
}

.schedule-list-card {
  padding-top: 10px;
}

.day-content {
  font-size: 0.9em;
  color: #555;
  width: 80%;
  padding-left: 10px;
}

.details {
  width: 100%;
  margin-top:10px;
  overflow: auto;
  height: 618px;
}

.details::-webkit-scrollbar{
  width:8px;
}

.details::-webkit-scrollbar-track{
  background-color: rgba(204, 204, 204, 0.1);
}

.details::-webkit-scrollbar-thumb{
  background-color: rgba(204, 204, 204, 0.5);
}

.details::-webkit-scrollbar-button{
  display: none;
}

.details::-webkit-scrollbar-track,
.details::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

.location-list-card, .mark-list-card{
  display: flex;
  margin-bottom: 5px;
}
.location-card-text-container, .mark-card-text-container{
  width:90%;
}

.location-card-button-container, .mark-card-button-container{
  width:10%;
}

#search {
  background-color: #24292d;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  width:50px;
}

button {
  background-color: unset;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 30px;
}

button.generate-btn {
  background-color: #24292d;
  border-radius: 15px;
  color: white;
  width: 100%;
  height: 52px;
  margin: 10px 10px 20px 0px;
  padding: 10px;
  font-size: 22px;
}

.medium {
  color: rgba(255, 81, 0, 0.8);
  font-size: 18px;
  font-weight: bold;
}

.small {
  color:#828282;
  font-size: small;
}

.day-card {
  display: flex;
  margin: 10px 0px;
}

.day-card:first-child {
  cursor: pointer;
  border-bottom: 1px solid #eee;
  font-size: 16px;
  font-weight: 700;
}

.selected {
  color: rgba(255, 81, 0, 0.8);
}