html, body {
    margin: 0px;
    padding: 0px;
}
.plan-first-display{
    width: 100vw;
    height: 740px;
    display: block;
}

.plan-first-wrap{
    height: 740px;
    margin: 3vh 15vw 6vh 15vw;
    display: flex;
    border: 1px solid #24292D;
    border-radius: 15px;
    pdding: 15px;
}
.left-wrap{
    margin: 20px;
    width: 70%;
    height: auto;
}

#calendar{
    width: auto;
    height:100%;
}

.right-wrap{
    margin: 20px 20px 20px 0px ;
    width:  30%;
    height: 100%;
}


.plan-title-wrap{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    border: 1px solid #24292D;
    border-radius: 15px;
    align-items: center;
}
.plan-title{
    margin-left:10px;
    width:40%;
    font-size: 18px;
}
#title{
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    font-size: 18px;
}

.plan-state{
    width: 100%;
    height: 560px;
}

.plan-state-title{
    font-size:26px;
    height:40px;
    width: 100%;
    margin-top: 30px;
    text-align: center;
}

.card-list {
    margin: 0px 0px 20px 0px;
    display: block;
    flex-wrap: wrap;
    gap: 10px;
    height: 520px;
}

.card {
    width:auto;
    height:30px;
    margin: 10px;
    background-color: #fff;
    border: 1px solid #24292D;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    }

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card.selected {
    border-color: #007bff;
    background-color: #e7f3ff;
}
#make-plan {
    background-color: #24292D;
    border-radius: 15px;
    color: white;
    width: 95%;
    height:52px;
    margin: 10px 10px 20px 10px;
    padding:10px;
    font-size: 22px;
}