html, body {
    margin: 0px;
    padding: 0px;
}
.plan-second-display{
    width: 100vw;
    height: 740px;
    display: block;
}

.plan-second-wrap{
    height: 740px;
    margin: 3vh 15vw 6vh 15vw;
    display: flex;
    border: 1px solid #24292D;
    border-radius: 15px;
    pdding: 15px;
}

#save-shed {
    background-color: #24292D;
    border-radius: 15px;
    color: white;
    width: 200px;
    height:52px;
    margin: 10px 10px 20px 10px;
    padding:10px;
    font-size: 22px;
}